@charset "UTF-8";
/**
 * Contao Sidebar Navigation
 */
.sidebar-navigation {
    /** width: 300px; **/
    padding: 15px 0;
    margin: 40px 0 0 0;
    text-align: left;
}
.sidebar-navigation * {
    text-decoration: none;
}
.sidebar-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.sidebar-navigation li {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.sidebar-navigation li > a,
.sidebar-navigation li > strong {
    /** **/
}
.sidebar-navigation li > strong.active {
    /** **/
}
.sidebar-navigation li:hover > a, .sidebar-navigation li:hover > strong {
    /** **/
}
.sidebar-navigation ul.level_1 {
    display: block;
}
.sidebar-navigation ul.level_1 ul {
    display: none;
}
.sidebar-navigation ul.level_1 > li {
    /** **/
}
.sidebar-navigation ul.level_1 li.submenu > .toggle-submenu {
    margin-right: 10px;
    width: 30px;
    text-align: center;
    position: absolute;
    top: 10px;
    cursor: pointer;
    border: 0;
    background: 0;
}
.sidebar-navigation ul.level_1 li.submenu > .toggle-submenu:before {
    content: "+";
    /** plus sign **/
}
.sidebar-navigation ul.level_1 li.submenu > .toggle-submenu:hover:before {
    /** **/
}
.sidebar-navigation ul.level_1 li.submenu.expanded > .toggle-submenu {
    /** **/
}
.sidebar-navigation ul.level_1 li.submenu.expanded > .toggle-submenu:before {
    content: "−";
    /** minus sign **/
}
.sidebar-navigation ul.level_1 > li {
    padding: 0;
    line-height: 40px;
}
.sidebar-navigation ul.level_1 > li > .toggle-submenu {
    right: 0;
}
.sidebar-navigation ul.level_1 > li > a, .sidebar-navigation ul.level_1 > li strong {
    padding-left: 42px;
}
.sidebar-navigation ul.level_1 > li strong.active {
    /** **/
}
.sidebar-navigation ul.level_2 > li {
    padding: 0;
    line-height: 34px;
}
.sidebar-navigation ul.level_2 > li > .toggle-submenu {
    right: 0;
}
.sidebar-navigation ul.level_2 > li > a, .sidebar-navigation ul.level_2 > li strong {
    padding-left: 50px;
}
.sidebar-navigation ul.level_2 > li strong.active {
    /** **/
}
.sidebar-navigation ul.level_3 > li {
    padding: 0;
    line-height: 30px;
}
.sidebar-navigation ul.level_3 > li > .toggle-submenu {
    right: 0;
}
.sidebar-navigation ul.level_3 > li > a, .sidebar-navigation ul.level_3 > li strong {
    padding-left: 58px;
}
.sidebar-navigation ul.level_3 > li strong.active {
    /** **/
}
.sidebar-navigation ul.level_4 > li {
    padding: 0;
    line-height: 28px;
}
.sidebar-navigation ul.level_4 > li > .toggle-submenu {
    right: 0;
}
.sidebar-navigation ul.level_4 > li > a, .sidebar-navigation ul.level_4 > li strong {
    padding-left: 66px;
}
.sidebar-navigation ul.level_4 > li strong.active {
    /** **/
}
.sidebar-navigation ul.level_1 li.trail > ul {
    display: block;
}